<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
</head>
<body class="  pace-done">
    <!-- Wrapper-->
    <div class="wrapper">

        <!-- Header-->
        <%- include('../pages/navBar/leftMenuUserList') %>
        <!-- End header-->  

        <!-- Main content-->        
        <section class="content" >
            <%- body %>
        </section>
       
        <!-- End main content-->
        <%- include('../partials/footer') %>
    </div>
    <!-- End wrapper-->    
    <%- include('../partials/scripts-public') %>
    <%- include('../partials/scripts-userList') %>
</body>

</html>